* {
    margin: 0;
    padding: 0;
    list-style: none
}

i {
    font-style: normal;
}

.box {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.hidden {
    display: none;
}

img {
    display: block;
    width: 100%;
    margin: 0 auto;
}

html,
body {
    width: 100%;
    /* height: 100%; */
    overflow: hidden;
}

header {
    width: 100%;
    height: 4.31rem;
    position: relative;
    background: url('../pic/index-header-bg.jpg') no-repeat center top;
    background-size: 100% auto;
    -webkit-background-size: 100% auto;
    padding-bottom: 0.11rem;
}

.content {
    width: 100%;
    min-height: calc(100vh - 4.31rem);
    overflow: hidden;
    background: url('../pic/index-bg.jpg') repeat-y center top;
    background-size: cover;
    -webkit-background-size: cover;
    position: relative;
}

.award-list {
    width: 100%;
    height: 0.64rem;
    background: url('../pic/award-list-bg.png') no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    position: absolute;
    left: 0;
    bottom: 0;
}

.award-list-con {
    width: 100%;
    height: 0.5rem;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -0.25rem;
}

.award-list-ul {
    position: absolute;
    left: 0;
    top: 0;
}

.award-list li {
    font-size: 0.21rem;
    color: #0d0409;
    height: 0.5rem;
    line-height: 0.5rem;
    padding-left: 1.24rem;
}

span.name,
span.award-rank {
    color: #fff;
}

.btn {
    border: 0;
    outline: none;
    float: right;
    margin-left: 0.54rem;
}

.myAwarnBtn {
    width: 2.87rem;
    height: 1.05rem;
    background: url('../pic/btn-bg.png') no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    font-size: 0.36rem;
    color: #fff;
}

.back {
    width: 1.41rem;
    height: 0.51rem;
    border: 1px solid rgb(147, 111, 20);
    border-radius: 0.20rem;
    -webkit-border-radius: 0.20rem;
    background: rgb(201, 166, 62);
    color: #fff;
    text-align: center;
    font-size: 0.24rem;
    margin-top: 0.28rem;
}

.own-award-item {
    width: 5.6rem;
    height: 1.43rem;
    background: url('../pic/1.png') no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    margin: 0 auto 0.2rem;
    position: relative;
}

.own-award-item.a2 {
    background-image: url('../pic/2.png');
}

.own-award-item.a3 {
    background-image: url('../pic/3.png');
}

.own-award-item.a4 {
    background-image: url('../pic/4.png');
}

.own-award-item .count {
    width: 0.79rem;
    height: 0.79rem;
    line-height: 0.79rem;
    border-color: 1px solid rgb(153, 126, 55);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: rgb(255, 225, 0);
    position: absolute;
    right: -0.21rem;
    top: 50%;
    margin-top: -0.395rem;
    color: #7f5b00;
    text-align: center;
    font-size: 0.32rem;
}

.btn-wrap {
    overflow: hidden;
    padding: 0 0.5rem;
    margin: 0.3rem auto 0.2rem;
}